*{
	margin: 0;
	padding: 0;
}

.background{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-image: url("../images/Untitled66-3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.houses{
	width: 100vw;
	height: 45vw;
	bottom: 0vw;
	position: absolute;
	background-image: url("../images/Untitled66-4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;	
}

.block_of_text{
	width: 100%;
	height: 3.5vw;
	top: 1vw;
	position: absolute;
	background-color: rgb(128, 128, 128);
	opacity: 0.45;
}

.text_on_block{
	font-size: 2.5vw;
	line-height: 3.5vw;
	opacity: 1;
	margin-left: 42vw;
}

.container{
	width: 40vw;
	height: 35vw;
	top: 5vw;
	position: absolute;
	left: 30vw;
}

.input_style{
	border: 0.1vw solid rgb(160, 164, 164);
	background-color: rgb(233, 236, 236);
	position: absolute;
	width: 20vw;
	height: 1.5vw;
	margin-left: 10vw;
}

.enter{
	position: absolute;
	width: 11.5vw;
	height: 3vw;
	top: 5.5vw;
	left: 14.5vw;

}
}