.registration_background{

	width: 100%;
	height: 35vw;
	position: relative;
	background-color: rgb(237, 246, 249);
	overflow: hidden;
}

.registration_houses{
	width: 100%;
	height: 37vw;
	background-image: url("../image/attachments/Untitled66-6.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center bottom;
	overflow: hidden;
}

.button{
	width: 23vw;
	height: 4vw;
	background-color: rgb(112, 164, 154);
	top: 5vw;
	left: 38.5vw;
	box-shadow: 0 0.5vw 0.5vw rgb(179, 170, 173);
	position: absolute;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.button:hover{
	background-color: rgb(136, 179, 170);
	width: 27vw;
	left: 36.5vw;
	box-shadow: 0 0.5vw 0.5vw rgb(179, 170, 173);
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.button a {
	height: 100%; 
	display: block;
	color: rgb(221, 232, 230);
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0.3vw 0.8vw rgb(0, 0, 0);
	line-height: 4vw;
	font-size: 2vw;
}


.inscription{
	width: 23vw;
	height: 4vw;
	top: 4vw;
	right: 2vw;
	position: absolute;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.inscription:hover{
	right: 1vw;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}



.inscription a {
	display: block;
	color: rgb(111, 151, 150);
	text-decoration: none;
	text-align: center;
/*	text-shadow: 0 0.3vw 0.8vw rgb(0, 0, 0);*/
	line-height: 4vw;
	font-size: 2.5vw;
}

.frame{
	width: 17vw;
	height: 5vw;
	top: 1.5vw;
	right: 8vw;
	background-image: url("../image/attachments/Untitled82.png");
	background-size: cover;
	position: absolute;
}


.home{
	width: 4vw;
	height: 2.8vw;
	/*background-color: rgb(112, 164, 154);*/
	top: 1vw;
	left: 3vw;
	position: absolute;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}


.home a {
	height: 100%; 
	display: block;
	color: rgb(146, 154, 156);
	text-decoration: none;
	text-align: center;

	line-height: 3vw;
	font-size: 1.5vw;
}


.conect{
	width: 11vw;
	height: 2.8vw;
/*	background-color: rgb(112, 164, 154);*/
	top: 3vw;
	left: 2.1vw;
	position: absolute;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}


.conect a {
	height: 100%; 
	display: block;
	color: rgb(146, 154, 156);
	text-decoration: none;
	text-align: center;
	line-height: 3vw;
	font-size: 1.5vw;
}


.help{
	width: 3.5vw;
	height: 2.8vw;
	/*background-color: rgb(112, 164, 154);*/
	top: 5vw;
	left: 3vw;
	position: absolute;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}



.help a {
	height: 100%; 
	display: block;
	color: rgb(146, 154, 156);
	text-decoration: none;
	text-align: center;

	line-height: 3vw;
	font-size: 1.5vw;
}


.help:hover,
.conect:hover,
.home:hover{
	left: 4vw;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;

}



.home_icone{
	width: 1.5vw;
	height: 1.5vw;
	top: 1.65vw;
	left: 1.5vw;
	background-image: url("../image/attachments/Untitled85.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
}
.conect_icone{
	width: 1.5vw;
	height: 1.5vw;
	top: 3.65vw;
	left: 1.5vw;
	background-image: url("../image/attachments/Untitled86-2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
}
.help_icone{
	width: 1.5vw;
	height: 1.5vw;
	top: 5.65vw;
	left: 1.5vw;
	background-image: url("../image/attachments/Untitled86-1-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
}

.line{
	width: 0.15vw;
	height: 7vw;
	background-color: rgb(146, 154, 156);
	top: 1vw;
	left: 0.7vw;
	position: absolute;
}